name: CI-Benchmark
on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write

jobs:
  bench:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia: ['1']
    steps:
      - uses: MilesCranmer/AirspeedVelocity.jl@action-v1
        with:
          julia-version: ${{ matrix.julia }}
          tune: 'true'